---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my blog 🚀</h2>
  <p>Hi, I'm Rachita 👋. This is my personal blog built with Astro, where I share my journey in tech, coding, and creativity.</p>
  <Greeting client:load messages={["Keep learning", "Stay curious", "You got this", "Build something new"]} />
</BaseLayout>
